/* body{
  margin-top: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: 'Lato' !important;
}  */

.searchBox {
  column-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: gilroyy;
    font-size: 18vh;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 16vh;
    /* border: #ff0000 solid 3px; */
    color: rgb(216, 216, 216);
    text-align: center;
    margin-bottom: 25px;
  }
  p {
    font-family: gilroyy;
    font-size: 18px;
    /* border: #ff0000 solid 3px; */
    margin-bottom: 10vh;
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

.inputSearch {
  height: 25px;
  width: 100px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1.5px;
  outline: none;
  border-radius: 45px;
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
}
.inputSearch::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: Rubik;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /* border: #ff0000 solid 3px; */
  font-weight: 100;
  width: 100%;
  /* background-color: rgb(225, 89, 89); */
  text-align: center;
}
.btnSearch {
  width: 30px;
  height: 30px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background-color: rgb(153, 0, 255);
  /* pointer-events: painted; */
}
.btnSearch:focus ~ .inputSearch {
  width: 300px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  text-align: center;
}
.inputSearch:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  text-align: center;
}

/* ---------------Cards CSS --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #pg1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15vw;
}

.cardsection {
  /* background-color: red; */
  padding-top: 3vh;
  width: 100%;
  padding: 3vh;
  padding-bottom: 3vh;
  column-count: 3;
  height: auto;
  justify-items: center;
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.card1 {
  width: 30vw;
  background-color: #a3a3a3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 20px;
  height: fit-content;
  max-height: 64rem;
}

.card-body h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  /* text-decoration: underline 2px; */
  color: black !important;
}

/* .card-body p{
  font-size: 15px;
  color: black !important;
  line-height: 1.3;
  text-decoration: underline;
} */

.css-15x27kp {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.4rem;
  column-gap: 80px;
}

.css-15x27kp:not(:last-child) {
  border-bottom: 1.5px solid #e5e5e5;
}

@font-face {
  font-family: patron-m;
  src: url(../../fonts/Patron-Medium.ttf);
}
.css-15x27kp span.lbl {
  font-weight: 400;
  font-family: patron-m;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.css-15x27kp span.val {
  max-width: 50%;
  /* white-space: nowrap; */
  overflow: hidden;
  background-color: transparent;
  text-overflow: ellipsis;
  font-weight: 100;
  font-family: patron-r;
  color: #ffffff;
  width: 100%;
  text-align: right;
}
