@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: gilroyy;
  src: url(../../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: sfprotext;
  src: url(../../fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: gilroy;
  src: url(../../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: manrope;
  src: url(../../fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: helvetica2;
  src: url(../../fonts/helvetica.woff);
}
@font-face {
  font-family: generalsans-medium;
  src: url(../../fonts/GeneralSans-Medium.otf);
}
@font-face {
  font-family: generalsans-regular;
  src: url(../../fonts/GeneralSans-Regular.otf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'manrope';
  color: #ffffff;
  cursor: none;
}

.main{
  width: 100%;
}

nav{
  position: fixed;
  width: 100%;
  height: 7vh;
  padding: 0 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
}
nav h1{
  color:rgba(255, 255, 255,0.7);
  width: fit-content;
  font-size: 20px;
  height: fit-content;
  position: relative;
  overflow: hidden;
  font-family: gilroyy;
}

nav h1:before{
    content: "";
    height: 2px;
    width: 100%;
    display: inline-flex;
    background-color: white;
    color: #a5a5a5;
    position: absolute;
    top: 50%;
    transform-origin: left;
    background-blend-mode: difference;
    mix-blend-mode: difference;
    transform: translateX(-100%);
    color: var(--ml-400);
    transform-origin: left;
    transition: all .2s ease;
}
nav h1:hover::before{
width: 100%;
transform: translateX(0%);
}
.sidebar {
  opacity: 0%;
}
nav h1:hover{
  color: #ffffff;
}

#link_Styles{
  color:rgba(255, 255, 255,0.7);
  font-weight: 400px;
  font-family: sfprotext;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 32px;
}

#link_Styles:hover{
  color: #ffffff;
}

.nav-part2 ul{
  position:absolute;
  transform: translate(-50%,-50%);
  display: flex;
  margin: 0;
  padding: 0;
  top:50%;
  left:50%;
  list-style: none;
  transition: 0.5s;
  text-align: center;
  margin: 0 25px;
}

.nav-part2 ul li{
  list-style: none;
  transition: .5s;
}

.nav-part2 ul li link-Styles{
  position: relative;
  display: block;
  text-align: center;
  margin:  0 25px;
}

.nav-part2 ul:hover li{
  opacity:  0.9;
  filter: blur(0.8px) contrast(100);
}

.nav-part2 ul li:hover{
  opacity:  1;
  filter: blur(0px)
}

.nav-part2{
display: flex;
gap: 1vw;
z-index: 9999;
width: 50%;
height: 100%;
align-self:center;
}

.nav-part2 h4{
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
}

nav button{
  font-family: sfprotext!important;
  background-color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  padding: 6px 14px;
  font-size: 14px;
  width: fit-content;
  place-content: center;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0);
}

nav button:hover{
  background-color: #ffffff;
  color: #000000;
}

nav button svg{
  height: 0.85vw;
  margin-left: 0.5vw;
  margin-right: -3px;
  fill:#ffffff
  
}

nav button:hover svg{
  height: 0.85vw;
  margin-left: 0.5vw;
  margin-right: -3px;
  fill:#000000
}

#nav-bottom{
  width: 82%;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  border-bottom: 1px solid rgb(216, 216, 216);
}
/* -------------Page-1------------- */
.page1{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
  font-family: gilroyy;
  margin-top: 22vh;
  font-size: 18vh;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 16vh;
  color: rgb(216, 216, 216);
  text-align: center;
  }
  p{
    font-family: helvetica2;
    text-align: center;
    font-weight: 400;
    font-size: 2vh;
    margin-top: 4vh;
    color: rgb(216, 216, 216);
    width: 88vh;
    height: 10vh;
  }
  #trio-buttons{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  #trio-buttons h4{
    font-size: 2vh;
    font-family: "Manrope";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 1vh;
    padding: 5px 12px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
    color: rgb(218, 218, 218);;
   }
  #trio-buttons h4:Hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
  }
  #trio-buttons h4:nth-last-child(2){
  border: none;
  }
  #trio-buttons h4:nth-last-child(2):hover{
    text-decoration:line-through;
  }
}

.moving-div{
  margin-top: 10vh;
  position: relative;
  white-space: nowrap;
  padding: 1.2vw;
  overflow: hidden;
  width: 66%;
}

.moving-div .move {
  display: inline-block;
  animation-name: mobe;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moving-div .move img {
  height: 2vw;
  margin: 0 1.2vw;
}
#blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #000000, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#blur-right {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, transparent, #000000);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

@keyframes mobe {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }

}
/* -------------Page-2------------- */
.page2{
  height: 80vh;
  width: 100%;
  background-size:cover;
  background-color: #000000;
  display: grid;
  background-image: url(../../img/pg3.jpg);
  #linear-gradient{
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.979));
    width: 100%;
    overflow: hidden;
  }
  #linear-gradient h6{
    font-family: gilroyy!important;
    font-size: 18vh!important;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 14vh;
    margin-right: 4vh;
    text-align: right;
    font-size: 8vw;
    width: fit-content;
    margin-left: auto;
    color: rgb(216, 216, 216);
    line-height: 16vh;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0,0.4); */
  }
}

.page2 #linear-gradient span{
  font-family: gilroyy!important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(216, 216, 216);
}

#linear-gradient span:hover{
  -webkit-text-fill-color: rgb(216, 216, 216);
}
.container {
  display: flex;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-family: arial;
padding-top: 15vh;}

.loop-text {
  font-size: clamp(2.5rem, 12vh, 18.5rem);
  text-transform: uppercase;
  font-family: poppins;
  font-weight: 400;
  padding: 0 0.25em;
}

.loop-text {
  animation: loopText 5s infinite linear;     
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgb(216, 216, 216);
}

.loop-text:hover{
  -webkit-text-fill-color: rgb(216, 216, 216);
  -webkit-text-stroke-width: 0px;
}

@keyframes loopText {
from {
    transform: translateX(0);
 }
to {
    transform: translateX(-100%);
 }

}

/* -------------Page-3------------- */
.page3{
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp); */
  /* background-size: cover; */
  display:grid;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-color: #000000;
  background-image: url(https://martingarrix.com/img/icons/pattern.svg);
  #box{
    width: 95vw;
    height: 100%;
    /* overflow: hidden; */
    padding: 0vh;
    position: relative;
    align-items: center;
    min-height: 750px;
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto auto;
    object-fit: cover;
  }
  #gradient{
    position: absolute;
    width: 100vw;
    height: 150vh;
    opacity: 98%;
    background-repeat: repeat;
    background-image: linear-gradient(360deg, rgb(0, 0, 0), transparent);
    overlay: 100%;
    align-self: flex-end;
}
}

#video-box{
  width: 90vw;
  height: 100%;
  display:flex;
  align-items: center;
  position:absolute;
  z-index: 4;
}

.page3 video { 
  height: 75vh;
  width: 75vw; 
  margin-left: 30vh;
  object-fit: cover;
  margin-bottom: 1vh;
}

#text-box{
    width: 80vh;
    margin-top: -16vh;
    background: var(--ec-800);
    color: var(--white);
    padding: 42px 62px 42px 42px;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0,0.4);
}

#text-box h2{
  color:rgb(216, 216, 216);
  text-transform: uppercase;
  padding: 0px;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  font-family: "POPPINS";
}
#text-box p{
  color:rgb(218, 218, 218);
  font-family: helvetica2;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 11px;
}

/* -------------Page-4------------- */
.page4{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #d4d4d4;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.border{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 80%;
  border-left: #000000 solid;
  border-right: #000000 solid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  h1{
    font-size: 60px;
    font-family: generalsans-medium;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
  }
}

.border p{
  font-size: 20px;
  font-family: generalsans-regular;
  font-weight: 400;
  color: #000000;
  width: 80%;
  text-align: center;
}

.imagesbox{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 92%;
  height: fit-content;

  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img41{
  height: 50vh;
  width: 75vh;
}
.img42{
  height: 50vh;
  width: 75vh;
}
.img43{
  height: 50vh;
  width: 500px;
}



/* -------------Page-5------------- */
.page5{
  height: 90vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  h1{
  width: 90vw;
  height: 23vh;
  font-size: 20vh;
  font-family: Arial;
  font-weight: lighter;
  border-bottom:1px solid rgb(0, 0, 0) ;
  margin-left: 2%;
  z-index: 25;
  color: rgb(0, 0, 0);
  }
}

.swiper{
  width: 100%;
  height: 75vh;
}

.slides{
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding: 15px 0 15px 0;
  img{
    display: block;
    width: 24vw;
    height: 100%;
    object-fit:cover;
  }
}


.preloader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;
  z-index: 999;

  .texts-container {
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      width: 260;
      overflow: hidden;
      opacity: 0;
      color: white;
  }
}

.parallax1{
  width: 100%;
  height: 40vh;
  background-size: contain;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image:url(../../img/peakpx.jpg);
    object-fit: fill;
    background-size: cover;
    background-attachment: fixed; 
}

.parallax{
  height: 40vh;
  background-size: contain;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image:url(../../img/peakpx1.jpg);
  object-fit: fill;
  background-size: cover;
  background-attachment: fixed; 
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* -------------------PHONE SCREEN CSS------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
@media only screen and (max-width: 800px){

/* -------------Preloader-------------- */
  .preloader {
  height: 200vh;
  height: calc(var(--vh, 1vh) * 200);
  width: 100%;
  .texts-container{
    font-size: 22px;
      height: fit-content;
      width: fit-content;
      letter-spacing: .2em;
  }
}

/* -------------Navbar-------------- */
  nav{
    width: 100%;
    height: 9.8vh;
    h1{
      font-size: 5vw;
      color: rgb(216, 216, 216);
    }
  }

  .nav-part2 ul{
  z-index: -99;
  margin-left: 1000vw;
  opacity: 100%;
  }

  nav .sidebar ul{
    width: 100%;
    height: 100%;
    padding-top: 10vw;
    }

  .sidebar li{
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #ffffff ;
    }

  .sidebar #link_Styles{
    font-size: 40px;
    padding: 8px 8px;   
    font-weight: 800;
    color: rgb(216, 216, 216);
    }

  nav .sidebar{
    height: 190vh;
    margin-right: 500vw ;
    opacity: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li{
    width: 100%;
  }

  nav button{
    font-size: 4vw;
    width: 25vw;
  }

.main{
  width: 180%;
  }
/* -------------Page-1------------- */
.page1{
  height: 130vh;
  overflow: hidden;
  padding: 15vh 0px 45vh 0px;
  h1{
  font-size: 10vh;
  margin-top: 20vh;
  line-height: 9vh;
  width: 85vh;
  }
  p{
  font-size: 2.6vh;
  margin-top: 2vh;
  line-height: 22px;
  width: 70vh;
  height: fit-content;
  }
  }

.page1 #trio-buttons{
  margin-top: 3vh;
  h4{
    font-size: 2vh;
    }
}

.page1 .moving-div{
  scale: 500%;
  width: 36%;
  margin-bottom: -10vh;
}

/* -------------Page-2------------- */
.page2{
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.moving-div2{
  width: 180vw;
}


#linear-gradient h6{
  scale: 100%;
}
.loop-text {
  animation: loopText 5s infinite linear;     
  -webkit-text-fill-color: rgb(255, 255, 255);
}

/* -------------Page-3------------- */
.page3{
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  #gradient{
  width: 100%;
  height: 150%;
  opacity: 95%;
  }
  }

.page3 #box{
  height: 100%;
  width: 180vw;
  margin: 0;
}

#video-box{
  width: 170vw;
  height: 100%;
  align-items: center;
  padding: 10vw 0 10vw 20vw ;
}
.page3 video{ 
  height: 75vh;
  width: 140vw;
  padding: 0;
  margin: 0;
}

#text-box{
  width: 50vh;
  margin-bottom: 20vh;
  padding-right: 3vh;
}

#text-box h2{
  font-size: 22px;
  line-height: 20px;
}

#text-box p{
  font-size: 13px;
  line-height: 13px;
}

/* -------------Page-4------------- */
#page4{
  height: auto;
  width: 180%;
}
#images{
  scale: 140%;
  margin: 0;
}

#captions{
  width: 180%;
  height: 100%;

  #card1{
    width: 60%;
    height: fit-content;
    padding: 22px 42px 22px 22px;
    h1{
      font-size: 20px;
      line-height: 20px;
    }
  }

  #card2{
    width: 60%;
    height: fit-content;
    padding: 22px 42px 22px 22px;
    h2{
      font-size: 20px;
      line-height: 20px;
    }
  }

  #card3{
    width: 100%;
    height: 10%;
    margin-left: 20vh;
    margin-bottom: 14%;
    h2{
      width: 100%;
      font-size: 40px;
      line-height: 95%;
    }
  }

}
#captions{
  width: 80%;
  margin-right: 55%;
  }
  #card1{
    height: 45vw;
    width: 100%;
  
  }
  
  #card1 h1{
    line-height: 1.35rem;
    font-size: 25px;
  }
  
  #card1 p{
    line-height: auto;
    font-size: 12px;
  }
  
  #card2{
    height: 45vw;
    width: 100%;
    margin-left: 25%;
  
  }
  
  #card2 h2{
    line-height: 1.35rem;
    font-size: 25px;
  }
  
  #card2 p{
    line-height: auto;
    font-size: 12px;
  }
  
  #images{
    width: 125vw;
  }
  
  #images .img1{
  width: 55%;
  height: fit-content;
  }
  #images .img2{
    width: 55%;
    height: fit-content;  
  }
  
  #images .img3{
    margin-top: 15vw;
  }
/* -------------Page-5------------- */
.page5{
  height: auto;
  width: 100%;
  padding: 2vh 0 vh 2vh 0;
  h1{
    width: 90%;
    height: fit-content;
    font-size: 25vw;
    margin-top: 2vh;
    margin-left: 8vw;
  }
}

.swiper{
  width: 100%;
  max-height: 65vh;
  align-items:center;
}

.slides{
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  height: 58vh;
  padding: 15px 0 15px 0;
  img{
    width: 42vw;
    height: 60vh;
  }
}


.parallax1{
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.parallax{
background-position: center;
background-size: cover;
height: 50vh;
}


}