.secondary-cursor {
  z-index: 10000;
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: white;
  mix-blend-mode: difference;
  transition: width 0.3s ease, height 0.3s ease;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

@media only screen and (max-width: 880px) {
  .secondary-cursor {
    display: none;
  }
}
