nav {
  position: fixed;
  width: 100%;
  height: 7vh;
  padding: 0 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
}
nav h1 {
  color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  font-size: 20px;
  height: fit-content;
  position: relative;
  overflow: hidden;
  font-family: gilroyy;
}

nav h1:before {
  content: "";
  height: 2px;
  width: 100%;
  display: inline-flex;
  background-color: white;
  color: #a5a5a5;
  position: absolute;
  top: 50%;
  transform-origin: left;
  background-blend-mode: difference;
  mix-blend-mode: difference;
  transform: translateX(-100%);
  color: var(--ml-400);
  transform-origin: left;
  transition: all 0.5s ease;
}
nav h1:hover::before {
  width: 100%;
  transform: translateX(0%);
}
.sidebar {
  opacity: 0%;
}
nav h1:hover {
  color: #ffffff;
}

#link_Styles {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400px;
  font-family: sfprotext;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 32px;
  transition: all ease 1s;
}

#link_Styles:hover {
  color: #ffffff;
}

.nav-part2 ul {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  list-style: none;
  transition: 0.5s;
  text-align: center;
  margin: 0 25px;
  transition: ease 0.5s;
}

.nav-part2 ul li {
  list-style: none;
  transition: all ease 0.5s;
}

.nav-part2 ul li link-Styles {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 25px;
}

.nav-part2 ul:hover li {
  opacity: 55%;
  /* filter: blur(0.8px); */
  transition: all 1s ease;
}

.nav-part2 ul li:hover {
  opacity: 100%;
  /* filter: blur(0px) */
}

.nav-part2 {
  display: flex;
  gap: 1vw;
  z-index: 9999;
  width: 50%;
  height: 100%;
  align-self: center;
}

.nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
}

nav button {
  font-family: sfprotext !important;
  background-color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  padding: 6px 14px;
  font-size: 14px;
  width: fit-content;
  place-content: center;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0);
  transition: all ease 0.5s;
}

nav button:hover {
  background-color: #ffffff;
  color: #000000;
}

nav button svg {
  height: 0.85vw;
  margin-left: 0.5vw;
  margin-right: -3px;
  fill: #ffffff;
}

nav button:hover svg {
  height: 0.85vw;
  margin-left: 0.5vw;
  margin-right: -3px;
  fill: #000000;
}

#nav-bottom {
  width: 82%;
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  border-bottom: 1px solid rgba(216, 216, 216, 0.71);
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* -------------------PHONE SCREEN CSS------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
@media only screen and (max-width: 800px) {
  /* -------------Navbar-------------- */
  nav {
    width: 100%;
    height: 9.8vh;
    h1 {
      font-size: 5vw;
      color: rgb(216, 216, 216);
    }
  }

  .nav-part2 ul {
    z-index: -99;
    margin-left: 1000vw;
    opacity: 100%;
  }

  nav .sidebar ul {
    width: 100%;
    height: 100%;
    padding-top: 10vw;
  }

  .sidebar li {
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
  }

  .sidebar #link_Styles {
    font-size: 40px;
    padding: 8px 8px;
    font-weight: 800;
    color: rgb(216, 216, 216);
  }

  nav .sidebar {
    height: 190vh;
    margin-right: 500vw;
    opacity: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li {
    width: 100%;
  }

  nav button {
    font-size: 4vw;
    width: 25vw;
  }
}
