.test{
  color: green;
}
.container {
  background-color: #000;
  color: '#fff';
  display: 'flex';
  justify-content: center;
  align-items: 'center';
  height: '100vh';
  padding-top: '20px';
};
.mainHeading {
  color: '#fff';
  margin-bottom: 20px;
};
.title {
  margin-bottom: 20px;
};
.form {
  display: flex;
  flex-direction: column;
};
.inputGroup {
  margin-bottom: 15px;
};
.label {
  display: 'block';
  margin-bottom: 5px;
  text-align: 'left';
};